/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$mini: 0.25rem;
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;

$title-font: "Jolly Lodger", serif;
$body-font: "Alegreya Sans", Arial, Helvetica, sans-serif;

// #5F9FA8 - Light Blue
// #9C673A - Gold

// F00 FF4000 FF8000 FFBF00 FF0 BFFF00 80FF00
// 40FF00 0F0 00FF40 00FF80 00FFBF 0FF 00BFFF
// 0080FF 0040FF 00F 4000FF 8000FF BF00FF F0F
$main-color: #78AB22;
$accent-color: #FFBF00;
$main-color-on-white: darken($main-color, 0%);

@mixin clear-after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@import url(//fonts.googleapis.com/css?family=Jolly+Lodger);
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans);

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: $body-font;
  font-size: 1.8rem;
  
  &.form{
    background: #3E3E3E url("../img/bg-square.png") repeat top left;
    
    h2{
      margin: 0 0 $large 0;
      padding: 5rem 0;
      text-align: center;
      background: #2D2D2D url("../img/bg-square.png") repeat top left;
      color: #FFF;
    }
  }
}

div, p, ul, ol, dl{
  margin: $small 0;
  padding: $small;
}

h1, h2, h3, h4, h5, h6{
  margin: $small;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3.8rem;
}

h3{
  font-size: 3.6rem;
}

h4{
  font-size: 3.4rem;
}

h5{
  font-size: 3.2rem;
}

h6{
  font-size: 3rem;
}

ul{
  
  li{
    list-style-type: disc;
  }
}

ol{
  
  li{
    list-style-type: decimal;
  }
}

dl{

  dt{
    font-weight: bold;
    float: left;
    clear: both;

    &:after{
      content: ":";
    }
  }

  dd{
    float: left;
    margin-left: 0.5rem;
  }

  &:after{
    @include clear-after;
  }
}

a{
  color: #FFF;
  text-decoration: none;

  &:link, &:visited{
    border-bottom: 0.1rem dotted #FFF;
  }

  &:hover, &:active, &:focus{
    border-bottom: 0.1rem solid #FFF;
  }
}

// Content Areas

.extend{
  margin: 0;
  padding: 0;
}

.extend.header-footer{
  background-color: #2D2D2D;
}

header, footer{
  background-color: #2D2D2D;
  color: #999;

  a{
    text-decoration: none;
    
    &:link, &:visited{
      color: #616161;
    }

    &:hover, &:active, &:focus{
      color: $main-color;
    }
  }
}

header, #content, footer{
  width: 102.4rem;
  margin: 0 auto;
  padding: $small;
}

header{
  background-color: #2D2D2D;
  
  h1{
    color: $main-color;
    font-family: $title-font;
    display: inline;
    font-weight: normal;

    span{
      color: $accent-color;
    }
  }

  nav{
    display: inline;
    text-transform: lowercase;
    position: relative;
    top: -0.75rem;
    left: 3rem;
    
    ul{
      display: inline;
      margin: 0;
      padding: 0;

      li{
        display: inline;
        margin-right: $medium;

        &:last{
          margin-right: 0;
        }

        a{
          
          &:link, &:visited{
            border: 0;
          }

          &:hover, &:active, &:focus{
            border: 0;
          }
        }
      }
    }
  }

  form{
    border: 0;
    background-color: transparent;
    margin: 1rem 0;
    width: auto;
    display: inline-block;
    float: right;
    
    #search, input[type="submit"]{
      margin: 0;
      border: 0.1rem solid $accent-color;
      color: $main-color;
      font-size: 1.4rem;
      display: inline-block;
    }

    #search{
      padding: 0.5rem;
      width: 32rem;
      box-shadow: none;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    }

    input[type="submit"]{
      padding: 0.4rem 0.5rem;
      background: url("search.png") no-repeat scroll center center rgba(0, 0, 0, 0.3);
      transition: none;
      border-radius: 0 0.4rem 0.4rem 0;
      text-indent: -99.9rem;
      width: 3rem;
      position: relative;
      left: -0.4rem;

      &:hover, &:active, &:focus{
        border: 0.1rem solid $accent-color;
        background: url("search.png") no-repeat scroll center center rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#content{
  padding: $medium $small;

  h2, h3, h4, h5, h6{
    margin: 0.5rem 0;
  }

  a{
    color: #000;
    text-decoration: none;

    &:link, &:visited{
      border-bottom: 0.1rem dotted #000;
    }

    &:hover, &:active, &:focus{
      border-bottom: 0.1rem solid #000;
    }
  }
}

footer{

}

// Form Elements

$form-elements-width: 64rem;

form{
  border: 0.1rem solid #AAA;
  background-color: #F4F4F4;
  margin: 0 auto;
  width: 70rem;
}

label, input, textarea, select{
  display: block;
  margin: $large;
  font-size: 2rem;
  width: $form-elements-width;
}

label{
  color: #666;
  line-height: 1.5;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], select, textarea{
  padding: $medium;
  border: 0.1rem solid #DDD;
  box-shadow: 0 0 0.4rem #EEE inset;

  &:hover, &:active, &:focus{
    border: 0.1rem solid #888;
  }
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], select[size], textarea{
  
}

// Textboxes
input[type="text"], input[type="number"], input[type="password"], input[type="email"]{
  
}

input[type="checkbox"]{
  
}

// Dropdowns
select{
  margin-right: 0.5rem;
  width: $form-elements-width + 2rem;
}

option{
  margin: 0.4rem;
  padding: 0.1rem;
}

// Buttons
input[type="submit"], input[type="image"], button{
  background-color: #ECF0F1;
  border: 0.1rem solid darken(#FFF, 30%);
  transition: all 200ms ease-in-out 0s;
  color: #333;
  cursor: pointer;
  padding: $medium;
  margin-top: $large;
  width: $form-elements-width + 2rem;

  &:hover, &:active, &:focus{
    background-color: #BDC3C7;
    border: 0.1rem solid darken(#FFF, 50%);
  }
}

// Tables

table{
  border-top: 0.1rem solid #CCC;
  border-bottom: 0.1rem solid #CCC;
  border-collapse: collapse;
  color: #444;
  margin: $large 0;
  text-align: left;
  width: 100%;

  thead{
    border-bottom: 0.2rem solid #000;
    color: #000;
  }

  tbody{
    
    tr{
      border-top: 0.1rem solid #CCC;

      &:hover, &:active, &:focus{
        background-color: darken(#FFF, 10%);
      }
    }
  }

  th, td{
    line-height: 1.5rem;
    padding: 1.5rem;
    vertical-align: center;
    text-align: center;
  }
}

.delete-form{
  background-color: transparent;
  border: none;
  display: inline;

  input[type="submit"]{
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem dotted #000;
    transition: none;
    color: #000;
    padding: $small - $mini;
    margin: 0;
    width: auto;
    font-size: 1.4rem;
    display: inline;
    
    &:hover, &:active, &:focus{
      background-color: transparent;
      border-bottom: 0.1rem solid #000;
    }
  }
}

// General

.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear: both;
}

.hidden{
  visibility: hidden;
}

span.logo{
  color: $main-color;
  font-size: 4rem;
  font-family: $title-font;

  span{
    color: $accent-color;
  }
}

#notice{
  background-color: #2D2D2D;
  color: $main-color;
}

// Product display

.product-image{
  float: left;
  max-width: 25rem;
  border: 0.1rem solid #999;
}

.image-not-found{
  width: 18.8rem;
  height: 28.8rem;
  background-color: darken(#FFF, 5%);
  border: 0.1rem solid #999;
  position: relative;

  span{
    color: #666;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    height: 7.2rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#recent, #discount, #by-category, #search{
  margin-top: $medium;

  h2{
    background-color: #333;
    color: $main-color;
    padding: 0 $small;
  }
  
  & > p{
    text-align: right;
  }
}

#search{

  & > p{
    text-align: left;
  }
}

.product-small{
  width: 19.8rem;
  padding: 0;
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  position: relative;
  
  & > a{
    border: 0 !important;

    &:link, &:visited{
        
    }
      
    &:hover, &:active, &:focus{
      
      img{
        opacity: 0.7;
      }
    }
      
    img{
      width: 100%;
      border: 0.1rem solid #999;
    }
  }

  p{
    background-color: #333;
    padding: $small;
    margin: 0;
    height: 2.4rem;
    width: 19rem;

    a{
      color: #FFF !important;
      border: 0 !important;
      display: inline-block;
      height: 2.3rem;
      width: 12rem;
      overflow: hidden;

      &:hover, &:active, &:focus{
        text-indent: -12rem;
        transition: 3s;
      }
    }

    span{
      color: #999;
      float: right;
    }

    &:after{
      clear: both;
      content: " ";
      display: hidden;
    }
  }
}

.original-price{
  text-decoration: line-through;
  color: #BB574E !important;
}

.discount-price{
  background-color: #2D2D2D !important;
  color: $main-color;
  text-align: right;
}

.discount-amount{
  display: inline-block;
  background-color: #2D2D2D;
  color: #999;
  padding: $small;
  padding-left: 2.5rem;
  position: absolute;
  top: $medium;
  right: -0.1rem;
  z-index: 2;
  text-align: right;

  .attention{
    color: #BB574E;
    font-size: $large * 2;
    display: inline-block;
    height: $large;
    position: absolute;
    top: 0.4rem;
    left: $small;
  }
}
